/*
 *
 * Plugin styling, template file used to style any plugins that are installed.
 *
 */

/*
 * Event-organiser
 */
ul.dates {
	list-style: none;
	font-size: 2.2em;
	text-align: center;
}

ul.dates .event {
	padding: 0.2em;
	background-color: rgb(225,225,235);
	text-align: left;
}

ul.dates .event .meta {
	text-align: center;
}

ul.eo-event-meta {
	list-style: none;
	margin-bottom: 2em;
}

.entry-meta .eo-event-meta li {
	padding: 0.2em;
	background-color: rgb(225,225,235);
	margin: 0;
}

/*
 * Facebook page widet
 */

 .fbf_facebook_page_widget_container {
 	border-bottom: none !important;
 }

 .fbf_facebook_page_widget_container .fbf_facebook_page_widget li {
 	border-bottom: none;
 	border-top: 1px solid rgb(180,180,180);
 	padding: 1em 0;
 	font-size: 2.2em;
 }

 .fbf_facebook_page_widget_container .fbf_facebook_page_widget li:first-child {
 	border-top: none;
 }

 .fbf_facebook_page_widget_container .facebook_page-timestamp {
 	color: rgb(180,180,180);
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	text-align: center;
 }

