/*
File containing layout elements of the torsbybrass.se site
*/

.l-fullwidth {
	width: 100%;
}

.l-pagewide {
	width: 100%;
	padding: 0 30px;
	max-width: 860px;
}

.l-center, .l-pagewide {
	margin-left: auto;
	margin-right: auto;
}

/*Margins*/
.l-margin-top-large {
	margin-top: 50px;
}

.l-margin-top-small {
	margin-top: 10px;
}